.menu {
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 83.333333%; /* 300/360 */
			height: 100%;
			right: -100%;
			top: 0;
			overflow: auto;
			background-color: $osnovnoy-2;
			padding: toRem(70) toRem(15) toRem(15) toRem(15);
			transition: right 0.3s;
			&::before {
				content: "";
				position: fixed;
				width: 83.333333%; /* 300/360 */
				height: toRem(70);
				right: -100%;
				top: 0;
				background-color: $osnovnoy-2;
				transition: right 0.3s;
				z-index: 2;
			}
			.menu-open & {
				right: 0;
				&::before {
					right: 0;
				}
			}
		}
		@media (min-width: $mobileSmall) and (max-width: $mobile){
			  padding-top: 90px;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// .menu__item
	&__item {
		padding-inline: 3px;
	}
	// .menu__link
	&__link {
		font-weight: 500;
		transition: text-shadow 0.3s, color 0.3s;
		position: relative;
		&::after{
			content:attr(name);
			position: absolute;
			inset: 0;
			opacity: 0;
			font-weight: 500;
		}
	
		&:hover{
			color: $akcent;
			transition: color 0.3s, transform 0.3s;
			transform: scale(1.05);
			&::after {
				scale: 1.1;
				transition: filter 0.3s, opacity 0.3s, transform 0.3s;
				filter: blur(5px);
				opacity: 1;
				color: $akcent;
			}
			
		}
		@media (max-width: $mobile) {
		}
	}
	
}

//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(23);
		height: toRem(16);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: $akcent;
		}
		span {width: 85%;}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
