// Заголовки, общие БЄМ блоки и прочее...
.button__wrapper {
	position: relative;
	.t,.b,.l,.r,.cut {
		position: absolute;
		z-index: 1;
		background-color: $akcent2;
	}
	&._tab-active .button {
		@media (min-width: $mobile) {
			background-color: $akcent;
		}
	}
	&_yellow {
		.t,.b,.l,.r,.cut {
			position: absolute;
			z-index: 1;
			background-color: $akcent;
		}
	}
	.t {
		width: 100%;
	}
	.l {
		height: 100%;
	}
	.r {
		right: 0;
		height: calc(100% - 14px);
	}
	.b {
		width: calc(100% - 17px);
		bottom: 0;
	}
	.cut {
		width: 1px;
		top: calc(100% - 15px);
		right: 0px;
		width: 20px;
		transform-origin: right top;
		transform: rotate(-40deg);
	}
	&:hover .t,&:hover .b,&:hover .cut {
		height: 3px;
	}
	&:hover .l,&:hover .r {
		width: 3px;
	}
	&:hover .t,&:hover .l,&:hover .r,&:hover .b,&:hover .cut {
		filter: blur(10px);
	}

	.button {
		position: relative;
		border: 1px solid $akcent2;
		display: flex;
		gap: 5px;
		font-weight: 700;
		font-size: 17px;
		align-items: center;
		justify-content: center;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 14px), calc(100% - 17px) 100%, 0 100%);
		z-index: 2;
		@media (max-width: $tablet) {
			font-size: 15px;
		}
		&_yellow[class] {
			border: 1px solid $akcent;
			&:active {
				background-color: $akcent;
			}
			&::before {
				border: 1px solid $akcent;
			}
			&::after {
				border-top-color: $akcent;
			}
		}

		&::after { //скошенная линия ссылки
			content: "";
			display: block;
			position: absolute;
			border-top: 1px solid $akcent2;
			top: calc(100% - 15px);
			// bottom: 0;
			right: -1px;
			width: 28px;
			transform-origin: right top;
			transform: rotate(-40deg);
		}
		&:active {
			background-color: $akcent2;
		}

		&::after {
			border-top-color: $akcent2;
		}
	}
}

//========================================================================================================================================================
.pagination {
	margin-top: 20px;
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
	.swiper-pagination-bullet {
		cursor: pointer;
		width: 30px;
		height: 5px;
		background-color: $osnovnoy;
		@media (max-width: $mobile) {
			width: 18px;
		}
	}

	.swiper-pagination-bullet-active {
		background-color: $akcent;
		@media (max-width: $mobile) {
			width: 24px;
		}
	}
	@media (min-width: $mobile) {
		display: none;
	}
}
section:not(:first-child) {
	@include adaptiveValue("margin-top", 150, 40, 0, $maxWidthContainer, 768);
}

h2[class*="__title"] {
	font-family: $fontSecondFamily;
	font-weight: 700;
	// font-size: 50px;
	color: $akcent;
	line-height: 104%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	@include adaptiveValue("font-size", 50, 25, 0, 1170, 768);
	@media (max-width: $mobile) {
		line-height: 1.25;
		margin-bottom: 20px;
	}
}

.text {
	font-weight: 500;
	font-size: 20px;
	line-height: 125%;
	letter-spacing: 0.01em;
	@include adaptiveValue("font-size", 20, 16, 0, 1170, 768);
	span {
		color: $akcent;
	}
}

div[class*="decor"] {
	@media (min-width: toEm(1920)) {
		display: none;
	}
	@media (max-width: $mobile) {
		display: none;
	}
}

.list {
	&__item {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
		gap: 66px;
		padding-block: 20px;
		border-bottom: 1px solid $osnovnoy;
		&:first-child {
			border-top: 1px solid $osnovnoy;
		}
		@media (max-width: $mobile) {
			flex-direction: column-reverse;
			gap: 15px;
		}
	}
}
.punkt {
	font-weight: 700;
	font-size: 28px;
	color: $akcent;
	font-family: $fontSecondFamily;
	line-height: 96%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	position: relative;
	&::after {
		content: attr(name);
		transition: 0.3s;
		position: absolute;
		inset: 0;
		opacity: 0;

	}
}
.list-item-content {
	&__title {
		font-weight: 700;
		// font-size: 25px;
		font-family: $fontSecondFamily;
		/* line-height: 27px; */
		line-height: 108%;
		letter-spacing: 0.01em;
		margin-bottom: 10px;
		transition: 0.3s;
		@include adaptiveValue("font-size", 25, 18, 0, 1170, 768);
		@media (any-hover: hover) {
			&:hover {
				translate: 0 -5px;
			}
		}
	}

	&__text {
		line-height: 131%;
		letter-spacing: 0.01em;
		@include adaptiveValue("font-size", 16, 14, 0, 1170, 768);
	}

	@media (any-hover: hover){
		&:hover{
			& +.punkt::after {
				opacity: 1;
				filter: blur(10px);
			}
		}
	}
}
