// Заголовки, общие БЄМ блоки и прочее...
.button {
	position: relative;
	border: 1px solid $akcent2;
	display: flex;
	gap: 5px;
	font-weight: 700;
	font-size: 17px;
	align-items: center;
	justify-content: center;
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 14px), calc(100% - 17px) 100%, 0 100%);
	// border-color: $akcent2;

	&:active {
		background-color: $akcent2;
	}
	&::before {
		// border-color: $akcent2;
	}
	&::after {
		border-top-color: $akcent2;
	}
	&_yellow[class] {
		border-color: $akcent;
		&:active {
			background-color: $akcent;
		}
		&::before {
			border-color: $akcent;
		}
		&::after {
			border-top-color: $akcent;
		}
	}

	&:before {
		content: "";
		border: 1px solid;
		border-color: $akcent2;
		position: absolute;
		inset: 0px;
		transition: filter 0.3s;
		filter: blur(0px);
	}
	&:hover {
		&::before {
			filter: blur(5px);
		}
	}
	&:active {
		&::before {
			filter: blur(5px);
		}
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 20px;
		right: -4px;
		border-top: 6px solid $akcent2;
		width: 54px;
		transform-origin: right top;
		transform: rotate(-46deg);
		top: calc(100% - 15px);
		bottom: 0;
		right: -1px;
		width: 28px;
		transform-origin: right top;
		transform: rotate(-40deg);
	}
}

section:not(:first-child) {
	margin-top: 150px;
}

h2[class*="__title"] {
	font-weight: 700;
	font-size: 50px;
	color: $akcent;
	line-height: 104%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.text {
	font-weight: 500;
	font-size: 20px;
	line-height: 125%;
	letter-spacing: 0.01em;
	span {
		color: $akcent;
	}
}
