// Заголовки, общие БЄМ блоки и прочее...
.button__wrapper {
	position: relative;
	.t,
	.b,
	.l,
	.r,
	.cut {
		position: absolute;
		transition: filter 0.3s;
		z-index: 1;
		background-color: $akcent2;
	}
	&_yellow {
		.t,
		.b,
		.l,
		.r,
		.cut {
			position: absolute;
			transition: filter 0.3s;
			z-index: 1;
			background-color: $akcent;
		}
	}
	.t {
		width: 100%;
		height: 1px;
		top: 0;
		left: 0;
	}
	.l {
		width: 1px;
		height: 100%;
		top: 0;
		left: 0;
	}
	.r {
		width: 1px;
		right: 0;
		top: 0;
		height: calc(100% - 14px);
	}
	.b {
		height: 1px;
		width: calc(100% - 17px);
		left: 0;
		bottom: 0;
	}
	.cut {
		right: 0;
		width: 1px;
		bottom: 0;
		height: 1px;
		transform: rotate(40deg);
		transform-origin: right top;
		top: calc(100% - 15px);
		bottom: 0;
		right: 1px;
		width: 20px;
		transform-origin: right top;
		transform: rotate(-40deg);
	}
	&:hover .t,
	&:hover .l,
	&:hover .r,
	&:hover .b,
	&:hover .cut {
		filter: blur(10px);
	}

	.button {
		position: relative;
		border: 1px solid $akcent2;
		display: flex;
		gap: 5px;
		font-weight: 700;
		font-size: 17px;
		align-items: center;
		justify-content: center;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - 14px), calc(100% - 17px) 100%, 0 100%);
		z-index: 2;
		&_yellow[class] {
			border-color: $akcent;
			&:active {
				background-color: $akcent;
			}
			&::before {
				border-color: $akcent;
			}
			&::after {
				border-top-color: $akcent;
			}
		}
		&:before {
			// content: "";
			border: 1px solid;
			border-color: $akcent2;
			position: absolute;
			inset: -1px;
			transition: filter 0.3s;
			filter: blur(0px);
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			right: -4px;
			border-top: 6px solid $akcent2;
			width: 54px;
			transform-origin: right top;
			top: calc(100% - 15px);
			bottom: 0;
			right: -1px;
			width: 28px;
			transform-origin: right top;
			transform: rotate(-40deg);
		}
		&:active {
			background-color: $akcent2;
		}

		&::after {
			border-top-color: $akcent2;
		}
	}
}

//========================================================================================================================================================
.pagination {
	margin-top: 20px;
		display: flex;
		gap: 5px;
		align-items: center;
		justify-content: center;
		.swiper-pagination-bullet {
			width: 30px;
			height: 5px;
			background-color: $osnovnoy;
			@media (max-width:$mobile){
				 width: 18px; 
			}
		}
		
		.swiper-pagination-bullet-active {
			background-color: $akcent;
			@media (max-width:$mobile){
				width: 24px;
				  
			}
		}
		@media (min-width:$mobile){
			 display: none; 
		}
}
section:not(:first-child) {
	margin-top: 150px;
}

h2[class*="__title"] {
	font-family: $fontSecondFamily;
	font-weight: 700;
	font-size: 50px;
	color: $akcent;
	line-height: 104%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}

.text {
	font-weight: 500;
	font-size: 20px;
	line-height: 125%;
	letter-spacing: 0.01em;
	span {
		color: $akcent;
	}
}

div[class*="decor"] {
	@media (min-width: toEm(1920)) {
		display: none;
	}
}

.list {
	&__item {
		display: flex;
		align-items: flex-start;
		gap: 66px;
		padding-block: 20px;
		border-bottom: 1px solid $osnovnoy;
		&:first-child {
			border-top: 1px solid $osnovnoy;
		}
	}
}
.punkt {
	font-weight: 700;
	font-size: 28px;
	color: $akcent;
	font-family: $fontSecondFamily;
	/* line-height: 27px; */
	line-height: 96%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}
.list-item-content {
	&__title {
		font-weight: 700;
		font-size: 25px;
		font-family: $fontSecondFamily;
		/* line-height: 27px; */
		line-height: 108%;
		letter-spacing: 0.01em;
		margin-bottom: 10px;
	}

	&__text {
		line-height: 131%;
		letter-spacing: 0.01em;
	}
}
