.page {

	&__confidence {
	}
}
.confidence {
	position: relative;
	&__decor {
	position: absolute;
		&_elipce {
		}

		&_cepb {
		right: 16%;
		top: 167px;
		z-index: -1;
		}
	}

	&__container {
	}

	&__title {
		text-align: right;
		margin-bottom: 60px;
	}

	&__content {
		@media (min-width: $mobileSmall) and (max-width: 1170px){
			display: flex;
		}
	}

	&__top {
		display: flex;
		margin-bottom: 30px;
		justify-content: space-between;
	}

	&__text {
		@media (min-width:$maxWidthContainer){
			  
			flex: 0 0 48.461538%; /* 567/1170 */
		}
	}

	&__last-img {
		display: flex;
		gap: 30px;
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__subtitle {
		font-weight: 700;
font-size: 30px;
font-family: $fontSecondFamily;
color: $akcent;
/* line-height: 52px; */ 
line-height: 173%;
letter-spacing: 0.01em;
text-transform: uppercase;
margin-bottom: 30px;
& + p {
	margin-bottom: 20px;
}
	}

	&__bottom {
		@media (min-width: $mobileSmall) and (max-width: 1170px){
			flex: 0 0 47%;
			width: 47%; /* 349/738 */
		}
	}

	&__slider {
		&.swiper {
			@media (min-width:$mobile){
				  
				// overflow: initial;
			}
			
		}
	& + p {
		// display: none;
		}
	}

	&__wrapper {
		@media (min-width:$maxWidthContainer){
			 gap: 30px; 
		}
	}

	&__slide {
		@media (min-width:$maxWidthContainer){
			 flex: 0 0 270px; 
		}
		img {
		 width:100%;
		 height:auto
		}
		&_rotate-top {
			@media (min-width:$maxWidthContainer){
				  transform: rotate(-10deg);
				  top: 30px;
				  left: 10px;
				  position: relative;
				  z-index: 2;
				&::before{
					content:'';
					position: absolute;
					inset: -12px;
					border: 3px solid $akcent2;
					background-color: transparent;
					box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
					
				}
				&::after{
					content:'';
					position: absolute;
					inset: -12px;
					border: 3px solid $akcent2;
					background-color: transparent;
					filter: blur(10px);
					border-radius: 20px;
				}
			}
			
		}

		&_last-top {
			// position: absolute;
		}

		&_text {
			display: flex;
			p.text {
				height: fit-content;
				margin-top: auto;
				font-size: 16px;
				line-height: 1.31;
			}
			@media (max-width:$mobile){
				margin-top: 20px;
			}
		}
	}

	&__pagination {
		@media (max-width: toEm(1170)){
			  display: flex;
		}
	}
}
