.page {
	&__confidence {
	}
}
.confidence {
	position: relative;
	&__decor {
		position: absolute;
		@media (max-width:$pc){
			 display: none; 
		}
		&_elipce {
		}

		&_cepb {
			right: 16%;
			top: 167px;
			z-index: -1;
		}
	}

	&__container {
	}

	&__title {
		text-align: right;
		margin-bottom: 60px;
		@media (max-width:$mobile){
			text-align: left; 
			br {display: none;}
		}
	}

	&__content {
		@media (min-width: $mobile) and (max-width: 1170.02px) {
			display: flex;
		}
	}

	&__top {
		display: flex;
		margin-bottom: 30px;
		justify-content: space-between;
		@media (min-width: $mobile) and (max-width: 1170.02px) {
			padding-right: 10px;
		}
	}

	&__text {
		@media (min-width: 1170.02px) {
			flex: 0 0 48.461538%; /* 567/1170 */
		}
	}

	&__last-img {
		display: flex;
		gap: 30px;
		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__subtitle {
		font-weight: 700;
		
		font-family: $fontSecondFamily;
		color: $akcent;
		/* line-height: 52px; */
		line-height: 173%;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		@include adaptiveValue("margin-bottom", 30, 20,0,1170,768);
		@include adaptiveValue("font-size", 30, 20,0,1170,768);
		& + p {
			margin-bottom: 20px;
		}
	}

	&__bottom {
		@media (min-width: $mobile) and (max-width: 1170.02px) {
			flex: 0 0 47%;
			width: 47%; /* 349/738 */
		}
	}

	&__slider {
		& + p {
			display: none;
		}
		&.swiper {
			@media (min-width: $mobile) {
				// overflow: initial;
			}
		}
		& + .confidence__slide_text {
			display: none;
		}
	}

	&__wrapper {
		@media (min-width: 1170.02px) {
			gap: 30px;
		}
	}

	&__slide {
		@media (min-width: 1170.02px) {
			flex: 0 0 270px;
		}
		img {
			width: 100%;
			height: auto;
		}
		&_rotate-top {
			@media (min-width: 1170.02px) {
				transform: rotate(-10deg);
				top: 30px;
				left: 10px;
				position: relative;
				z-index: 2;
				&::before {
					content: "";
					position: absolute;
					inset: -12px;
					border: 3px solid $akcent2;
					background-color: transparent;
					box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
				}
				&::after {
					content: "";
					position: absolute;
					inset: -12px;
					border: 3px solid $akcent2;
					background-color: transparent;
					filter: blur(10px);
					border-radius: 20px;
				}
			}
		}

		&_last-top {
			// position: absolute;
		}

		&_text {
			display: flex;
			p.text {
				height: fit-content;
				margin-top: auto;
				font-size: 16px;
				line-height: 1.31;
			}
			@media (max-width:1170.02px) and (min-width:$mobile){
				 p:last-child {
				 margin-top: 10px;
				 font-size: 20px;
				 @include adaptiveValue("font-size", 20, 16,0,1170,768);
				 } 
			}
			@media (max-width: $mobile) {
				margin-top: 20px;
				&.swiper-slide {
					display: none;
				}
			}
		}
	}

	&__pagination {
		@media (max-width: toEm(1170)) {
			display: flex;
		}
	}
}
