.page {
	// margin-bottom: 150px;
	@include adaptiveValue("margin-bottom", 150, 0,0,1170,768);
	&__contacts {
	}
}
.contacts {
	position: relative;
	&__decor {
		position: absolute;
		z-index: -1;
		&_l {
			left: -400px;
		}

		&_r {
			top: -200px;
			right: -100px;
		}
	}

	&__container {
	}

	&__title {
		@include adaptiveValue("margin-bottom", 50, 20, 0, 1170, 768);
	}

	&__items {
		@media (min-width:$mobile){
			 display: flex; 
		}
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 50px;
			@include adaptiveValue("margin-bottom", 50, 20,0,1170,768);
		}
	}
	&__subtitle {
		// margin-bottom: 30px;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: $akcent;
		font-family: $fontSecondFamily;
		@include adaptiveValue("margin-bottom", 30, 20,0,1170,768);
		@include adaptiveValue("font-size", 30, 18, 0, 1170, 768);
	}

	&__text {
		font-weight: 500;
line-height: 124%;
		letter-spacing: 0.01em;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@include adaptiveValue("font-size", 25, 15, 0, 1170, 768);
	}

	&__map {
		// margin-top: 60px;
		position: relative;
		z-index: 3;
		// aspect-ratio: 330/111;
		// height: 30%;
		@include adaptiveValue("margin-top", 60, 20,0,1170,768);
		iframe {
			aspect-ratio: 330/111;
		}
	}
}
