//====================================================================================================
.footer {
	background-color: $osnovnoy-2;
	@media (min-width: 768.02px) {
		clip-path: polygon(93% 0, 100% 15%, 100% 100%, 0 100%, 0 15%, 7% 0);
	}
	.button__wrapper {
		width: 334px;
		height: 50px;
	}
	.header__link {
		height: 50px;
		width: initial;
		@media (max-width: toEm(760)) {
			width: 100%;
		}
	}
	&__container {
		// padding-top: 116px;
		@include adaptiveValue("padding-top", 116, 45, 0, 1170, 768);
		.menu__list {
			@media (max-width: toEm(760)) {
				flex-direction: column;
			}
		}
	}

	&__top {
		// outline: 1px solid red;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@media (max-width: toEm(760)) {
			margin-bottom: 30px;
		}
	}

	&__logo {
		@media (max-width: toEm(760)) {
			flex: 0 0 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__contacts {
		flex: 0 0 200px;
		display: grid;
		gap: 10px;
		@media (max-width: toEm(760)) {
			margin-block: 20px;
		}
	}

	&__link {
		text-align: end;
		@media (max-width: toEm(760)) {
			text-align: start;
		}
	}

	&__center {
	}

	&__bottom {
	}

	&__bottom-bg {
		display: flex;
		justify-content: center;
		img {
			width: 100%;
			height: auto;
		}
	}
	.menu[class] {
		@media (min-width: $mobile) {
			// transform: translateY(100%);
		}
	}
}

.center-footer {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	@media (min-width: $mobile) {
		border-bottom: 1px solid $osnovnoy;
	}
	@media (max-width: $mobile) {
		margin-top: 20px;
	}
	@media (max-width: toEm(760)) {
		display: block;
	}
	&__social {
		display: flex;
		gap: 15px;
		@include adaptiveValue("margin-top", 20, 10, 0, 1170, 768);
		// transform: translateY(-12px);
		@media (max-width: toEm(760)) {
			margin-top: 0;
		}
	}

	&__link {
		transition: translate 0.3s;
		@media (any-hover: hover){
			&:hover{
				translate:0 -5px;
			}
		}
	}

	.button__wrapper {
		@media (min-width: toEm(760)) {
			margin-left: auto;
		}
		@media (max-width: toEm(760)) {
			width: 100%;
		}
	}
}
.button {
}
.bottom-footer {
	display: flex;
	justify-content: space-between;
	@media (min-width: $mobile) {
		margin-top: 50px;
	}
	@media (max-width: $mobile) {
		flex-direction: column;
		justify-content: initial;
		gap: 20px;
		font-size: 15px;
	}

	&__docs {
	}

	&__link {
		display: block;
		&:hover {
			text-decoration: underline;
		}
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__text {
		text-align: right;
		@media (max-width: $mobile) {
			text-align-last: left;
		}
		& p:not(:last-child) {
			margin-bottom: 5px;
			@media (max-width: $mobile) {
				margin-bottom: 10px;
			}
		}
	}
}

//====================================================================================================
