//======MAIN==============================================================================================

.page {

	&__main {
	}
}
.main {
	position: relative;
	.menu-open & {
		z-index: 1;
	}
	&__decor-left {
		position: absolute;
		left: 0;
		top: 150px;
		z-index: -1;
		@media (min-width:toEm(1350)){
			@include adaptiveValue("top", -350, 150,0,4000,1350);
			  @include adaptiveValue("width", 1000,304,0, 4000,1350);
		}
		@media (max-width:1150px){
			display: none;
		}
		img {
		 width:100%;
		 height:auto
		}
	}

	&__decor-right {
		position: absolute;
		right: 0;
		top: -200px;
		z-index: -1;
		@media (min-width:toEm(1350)){
			@include adaptiveValue("top", -350, -200,0,4000,1350);
			  @include adaptiveValue("width", 1000,304,0, 4000,1350);
		}
		img {
			width:100%;
			height:auto
		  }
	}
	&__decor-circkle {
		position: absolute;
		top: -150px;
		z-index: -1;
		
	}
	&__container {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		@media (max-width:$mobile){
			 flex-direction: column; 
		}
	}

	&__actions {
		display: flex;
			flex-direction: column;	
		flex: 0 0 45.213675%; /* 529/1170 */
		aspect-ratio: 529/440;
		position: relative;
		// background: url("@img/main/cover3.svg") 0px 0 / contain no-repeat;
		padding: 64px 32px;
		.button__wrapper {
			width: fit-content;
			margin-top: auto;
			@media (max-width:$mobile){
				 width: 100%; 
				 @include adaptiveValue("margin-bottom", 30, 5,0,768,360);
			}
		}
		@media (max-width:$tablet){
			flex: 0 0 45%; /* 369/738 */
			padding: 44px toRem(32);
			
		}
		@media (max-width:$mobile){
			padding-inline: toRem(35);
			padding-block: 60px;
			// aspect-ratio: 330/254;
			
			.button__wrapper {
				margin-top: auto;
				// margin-bottom: 25px;
			}
		}
		@media (max-width:$mobileSmall){
			 padding-block: 40px; 
			 padding-inline: 20px; 
		}
	}

	&__img-d {
		position: absolute;
		inset: 0;
		z-index: -1;
		img {
		 width:100%;
		position: absolute;
		}
	}
	&__title {
		font-weight: 700;
	line-height: 99%;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	font-family: $fontSecondFamily;
	@media (min-width:toEm(1170)){
		  font-size: 70px;
	}
	@media (min-width: $mobile) and (max-width: 1170px){
		  @include adaptiveValue("font-size", 70, 30,0,$maxWidthContainer, 768);
	}
	@media (max-width:$mobile){
		@include adaptiveValue("font-size", 70, 30,0,768,360);
		
	}
	}

	&__text {
		margin-top: 12px;
		font-weight: 600;
		line-height: 1.25;
		br {display: none;}
		@media (min-width:$mobile){
			@include adaptiveValue("font-size", 20, 16,0, 1170,768);
		}
		@media (max-width:$mobile){
			@include adaptiveValue("font-size", 20, 16,0,768,360);
		}
		@media (max-width: toEm(450)){
			br {display: block;}
			  
		}
	}
	
	&__button {
		margin-top: auto;
		height: 61px;
		padding-inline: 38px;
		text-transform: uppercase;
		@media (max-width: toEm(1170)) and (min-width:$mobile){
			//   @include adaptiveValue("margin-top", 50, 20,0,1150,768);
			  height: 50px;
		}
		@media (max-width:$tablet){
			padding-inline: 22px;
		}
		@media (max-width:$mobile){
			 margin-top: 0;
			 width: 100%;
			 @include adaptiveValue("height", 60, 50,0,768, 460);
		}
		@media (min-width: $mobile) and (max-width: $tablet){
			 white-space: nowrap; 
		}
		@media (max-width:$mobileSmall){
			padding-inline: 15px;
			//  white-space: nowrap; 
		}
	}

	&__img {
		img {
		 width:100%;
		 height:auto
		}
	}
}



//====================================================================================================
