.page {
	&__new {
		margin-top: 120px;
		position: relative
	}
}
.new {
	@include gridContainer(3);
	&__content {
		display: flex;
		gap: 30px;
	}
	&__item {
		&_left {
			flex:0 0 36.016%;
			flex: 0 0 470px;
		}

		&_right {
			flex: 1;
		}
	}

	&__decor {
		position: absolute;
		left: 0;
		top: -500px;
		min-width: initial;
		grid-column: initial;
	}
	&__img {
		img {
		 width:100%;
		 height:auto
		}
	}

	&__text {
		margin-top: 34px;
		font-weight: 600;
		font-size: 30px;
		line-height: 107%;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		padding-right: 50px;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__galery {
		display: flex;
		gap: 30px;
		@media (min-width:toEm(1440)){
			  justify-content: space-between;
		}
		.new__img:first-child {
			flex: 0 0 58.385093%; /* 470/805 */
		}
		.new__img {
			flex: 0 0 38%;
		}
	}
}
