.page {
	&__production {
		margin-top: 150px;
		position: relative;
	}
}
.production {
	&__container {
	}

	&__title {
		font-family: $fontSecondFamily;
		font-weight: 900;
		font-size: 50px;

		/* line-height: 50px; */
		line-height: 100%;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: $akcent;
		margin-bottom: 25px;
		span {
			font-family: $fontFamily;
		}
	}

	&__text {
		font-weight: 600;
		line-height: 125%;
		letter-spacing: 0.01em;
		@media (max-width:$mobile){
			 br {display: none;} 
		}
		@include adaptiveValue("font-size", 20, 16, 0, 1170, 768);
	}

	&__content {
	}

	&__list {
	}

	&__progress {
		margin-top: 40px;
		@media (max-width:$mobile){
			 margin-top: 30px; 
		}
		@media (max-width: $mobileSmall) {
			margin-top: 0px;
		}
	}

	&__decor {
		position: absolute;
		img {
			width: 100%;
			height: auto;
		}
		&_1 {
			// top: -200px;
			right: 0px;
			top: -150px;
			@media (min-width: toEm(1350)) {
				@include adaptiveValue("top", -450, -150, 0, 4000, 1350);
				@include adaptiveValue("width", 1500, 550, 0, 4000, 1350);
			}
			@media (max-width: toEm(1350)) {
				@include adaptiveValue("width", 500, 370, 0, 1350, 700);
				top: -100px;
			}
		}
		&_2 {
			top: -500px;
			right: 0;
			z-index: -1;
		}
	}
}
.progress {
	&__circle {
	}

	&__description {
		&_bottom {
		}

		&_top {
		}

		&_current {
		}
	}

	&__line {
	}
}

.progress {
	display: flex;
	justify-content: space-between;
	height: fit-content;
	position: relative;
	// @media (max-width:$tablet) and (min-width:$mobile){
	// 	flex: 0 0 100%;
	// }
	// @media (max-width:$mobile){
	flex-direction: column;
	width: max-content;
	@media (max-width: $mobile) {
		.production & {
			width: initial;
		}
	}

	&__line {
		background-color: $akcent2;
		// height: 6px;
		// left: 1%;
		position: absolute;
		// top: 50%;
		// transform: translate(0, -50%);
		// width: 70%;
		z-index: 3;
		// @media (max-width:$mobile){
		width: 2px;
		height: 95%;
		top: 8px;
		left: 7.5px;
		transform: translate(-50%, 0%);
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background-color: $akcent2;
			filter: blur(10px);
		}
		// }
	}

	&__circle {
		justify-content: center;
		position: relative;
		z-index: 4;
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: $akcent2;
			top: 7px;
			@media (max-width: $tablet) {
				top: 2px;
			}
			@media (max-width: $mobileSmall) {
				.production & {
					display: none;
				}
			}
		}
		&::after {
			filter: blur(0px);
			transition: filter 0.3s;
			
		}
		@media (any-hover: hover){
			&:hover{
				&::after {
					filter: blur(10px);
				}
			}
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				// margin-bottom: 75px;
			}
		}
	}
	&__line-mobile {
		display: flex;
		justify-content: center;
		margin-top: 15px;
		margin-bottom: 10px;
		@media (min-width: $mobileSmall) {
			display: none;
		}
	}
	&__description {
		padding-left: 30px;
		left: 100%;
		font-weight: 500;
		font-size: 25px;
		display: block;
		padding-bottom: 20px;
		line-height: 120%;
		position: relative;
		left: 0;
		transition: translate 0.3s;
		@include adaptiveValue("font-size", 25, 16, 0, 1170, 768);
		@media (any-hover: hover){
			&:hover{
				translate: 0 -5px;
			}
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 6.5px;
			top: 15px;
			width: 2px;
			height: 110%;
			background-color: $akcent2;
			@media (max-width: $tablet) {
				height: 100%;
			}
			@media (max-width: $mobileSmall) {
				.production & {
					display: none;
				}
			}
		}
		&::after {
			filter: blur(10px);
		}
		&_last {
			&::before,
			&::after {
				display: none;
			}
		}

		@media (max-width: $tablet) {
			// font-size: 16px;
		}
		// text-wrap: nowrap;
		@media (max-width: $mobileSmall) {
			.production & {
				padding-left: 0px;
				width: 100%;
				text-align: center;
				padding-bottom: 0;
			}
		}
	}
}
