.page {

	&__request {
	}
}
.request {

	&__container {
		display: flex;
		gap: 35px;
	}

	&__body {
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text {font-weight: 500;
		font-size: 20px;
		
		/* line-height: 25px; */ 
		line-height: 125%;
		letter-spacing: 0.01em;
	}
}
.popup {

	&__form {
		.request & {
			flex: 0 0 570px;
		}
	}

	&__form-item {
	}

	&__subtext {
	}

	&__button {
	}
}
.input {
}
.input-mask {
}
.button {

	&_yellow {
	}

	&__wrapper {

		&_yellow {
		}
	}
}
.t {
}
.b {
}
.l {
}
.r {
}
.cut {
}
