.page {

	&__request {
	}
}
.request {

	&__container {
		display: flex;
		@include adaptiveValue("gap", 35, 10,0,1170,768);
		@media (max-width:$mobileSmall){
			 flex-direction: column;
			 row-gap: 20px;
		}
		.popup__subtext {
			@media (max-width:$mobile){
				 margin-top: 15px; 
			}
		}
	}

	&__body {
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text {font-weight: 500;
		line-height: 125%;
		letter-spacing: 0.01em;
		@include adaptiveValue("font-size", 20, 16,0,1170,768);
	}
}
.popup {

	&__form {
		.request & {
			@media (min-width:$mobileSmall){
				flex: 0 0 48.717949%; /* 570/1170 */
			}
		}
	}
}

