.page {
	&__reviews {
	}
}
.reviews {
	&__container {
	}

	&__top {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__title {
		@include adaptiveValue("margin-bottom", 50, 20,0,1170,768);
	}

	&__button {
		width: 270px;
		height: 51px;
	}

	&__slider {
	}

	&__wrapper {
	}
	&__yandex {
		@media (max-width: toEm(590)){
			width: 400px !important;
		}
		@media (max-width: toEm(470)){
			  width: 300px !important;
		}
	}
	&__slide {
		cursor: pointer;
		padding-block: 10px;
		display: grid;
		place-items: center;
		background-color: white;
		font-weight: 700;
		font-size: 40px;
		font-family: $fontSecondFamily;
		/* line-height: 48px; */
		line-height: 120%;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: #000;
	}

	&__pagination {
		@media (min-width: $mobile) {
			margin-top: 40px;
			// display: flex;
			.swiper-pagination-bullet {
				height: 5px;
			}
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}
}
