.page {

	&__sertificates {
	}
}
.sertificates {

	&__container {
	}

	&__title {
		@include adaptiveValue("margin-bottom", 50, 20,0,1170,768);
	}

	&__shell {
		position: relative;
	}

	&__slider {
		cursor: pointer;
	}

	&__wrapper {
	}

	&__slide {
		img {
		 width:100%;
		 height:auto
		}
	}

	&__pagination[class] {
		margin-top: 40px;
		@media (min-width:toEm(1300)){
			display: none;
	 }
	 @media (max-width: toEm(1300)){
		  display: flex;
	 }
	}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.pagination {
}
