.test3 {
}

.page {
	&__slider {
		visibility: hidden;
		position: relative;
	}
}
.slider {
	&__container {
		position: relative;
	}

	&__slider {
	}

	&__wrapper {
	}
	&__navigation {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		width: 109%;
		height: 43px;
		@media (max-width: 1300px) {
			display: none;
		}
		// outline: 1px solid red;
	}

	&__arrow {
		position: absolute;
		z-index: 4;
		& svg g path {
			fill: $akcent;
		}
		&[disabled] svg g path {
			fill: #e3e3e3;
		}
		&.arrow-right {
			right: 0;
			svg {
				rotate: 180deg;
			}
		}
	}

	&__content {
		position: relative;
		display: grid;
		gap: 30px;
		@media (min-width: $mobile) {
			padding-left: 50px;
			padding-block: 20px;
		}
		@media (max-width: $pc) and (min-width: $mobile) {
			padding-left: 15px;
			padding-right: 10px;
			// flex: 1;
		}
		@media (max-width: $mobileSmall) {
			gap: 15px;
		}
	}

	&__img {
		// outline: 1px solid red;
		position: relative;
		@media (min-width: $mobile) {
			height: 100%;
			flex: 0 0 40.17094%; /* 470/1170 */
			min-height: 397px;
		}
		@media (max-width: $mobile) {
			aspect-ratio: 2/1;
			margin-inline: -15px;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
			@media (min-width: $mobile) {
				aspect-ratio: 470/397;
			}
			@media (max-width: $mobile) {
				aspect-ratio: initial;
			}
		}
	}

	&__slide {
		width: 100%;
		position: relative;
		border: 1px solid $akcent2;
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
		gap: 50px;
		cursor: pointer;
		& > * {
			// outline: 1px solid red;
		}
		@media (min-width: $mobile) {
			@include adaptiveValue("gap", 50, 30, 0, 1170, 768);
		}

		@media (max-width: $mobile) {
			// grid-template-columns: 1fr;
			align-items: initial;
			flex-direction: column;
			padding-top: 20px;
			padding-inline: 15px;
			gap: 20px;
		}
		&:before {
			content: "";
			border: 1px solid $akcent2;
			position: absolute;
			inset: 0px;
			filter: blur(5px);
		}

		&_1 {
			.slider__title {
				br {
					display: none;
				}
				@media (max-width: toEm(412)) {
					br {
						display: block;
					}
				}
			}
			.slider__button[class] {
			}
			br {
				@media (max-width: $mobile) {
					display: none;
				}
			}
			.slider__img {
				@media (max-width: $mobile) {
					// aspect-ratio: 326/197;
					img {
						// aspect-ratio: 326/197;
					}
				}
			}
		}
		&_2 {
			.button__wrapper {
				@media (min-width: $tablet) {
					width: 456px;
				}
				@media (min-width: $mobile) and (max-width: $tablet) {
					width: 300px;
				}
			}

			.button {
				// width: 456px;
				height: 98px;
				justify-content: initial;
				br {
					@media (max-width: $mobile) {
						display: none;
					}
				}
				@media (max-width: $tablet) {
					height: 60px;
				}
			}
			.slider__img {
				@media (max-width: $mobile) {
					// aspect-ratio: 326/197;
					img {
						// aspect-ratio: 326/197;
					}
				}
			}
		}
		&_3 {
			.slider__title {
				color: $akcent;
				@media (max-width: $mobile) {
					br {
						display: none;
					}
				}
			}
			.slider__img {
				@media (max-width: $mobile) {
					// aspect-ratio: 326/197;
					img {
						// aspect-ratio: 326/197;
					}
				}
			}
		}
		&_4 {
			.button__wrapper {
				@media (min-width: $tablet) {
					width: 500px;
				}
				@media (min-width: $mobile) and (max-width: $tablet) {
					width: 300px;
				}
			}
			.button[class] {
				// width: 500px;
				padding-inline: 20px;
				justify-content: initial;
				@media (max-width: $tablet) {
					font-size: 16px;
				}
			}
			.slider__img {
				@media (max-width: $mobile) {
					// aspect-ratio: 326/238;
					img {
						object-position: 0 -150px;
						@media (max-width:$mobileSmall){
							 object-position: 0 -110px; 
						}
					}
				}
			}
		}
		&_5 {
			.last-br {
				display: none;
			}
			.last-br2 {
				display: none;
				@media (max-width: $tablet) {
					// display: block;
				}
			}
			.button__wrapper {
				display: inline;
				@media (max-width: toEm(865)) {
					display: flex;
				}
			}
			.button[class] {
				border: initial;
				display: inline-flex;
				height: 40px;
				border: 1px solid $akcent;
				@media (max-width: $mobile) {
					margin-top: 7px;
				}
			}
			.cut {
				right: 0.8px;
				width: 21px;
			}
			.slider__img {
				@media (max-width: $mobile) {
					// aspect-ratio: 326/179;
					img {
						object-position: 0 -150px;
						@media (max-width:$mobileSmall){
							 object-position: 0 -110px; 
						}
					}
				}
			}
		}
		&_6 {
			.slider__title {
				color: $akcent;
				
			}
			.slider__content {
				// gap: 20px;
			}
			@media (max-width: $mobile) {
				.slider__img {
					img {
						object-position: 0 -150px;
						@media (max-width:$mobileSmall){
							 object-position: 0 -110px; 
						}
					}
				}
			}
			@media (max-width: $mobileSmall) {
				.slider__list-item[class] {
					font-size: 14px;
					line-height: 1.46;
					margin-bottom: 0;
					&:last-child {
						margin-bottom: 20px;
					}
				}
			}
		}
		&_7 {
			.slider__title {
				color: $akcent;
			}
			.slider__img {
				@media (max-width: $mobile) {
					img {
						object-position: 0 -150px;
						@media (max-width:$mobileSmall){
							 object-position: 0 -110px; 
						}
					}
				}
			}
		}
		&_8 {
			.slider__title {
				max-width: 600px;
			}
			.slider__img {
				@media (max-width: $mobile) {
					// aspect-ratio: 326/197;
					img {
						// aspect-ratio: 326/197;
					}
				}
			}
		}

		&_9 {
			.slider__img {
				@media (max-width: $mobile) {
					// aspect-ratio: 326/197;
					img {
						object-position: 0 -20px;
					}
				}
			}
		}

		&_10 {
			// grid-template-columns: 1fr;
			padding-block: 40px;
			@media (max-width: $mobile) {
				padding-block: 20px;
			}
			.slider__content {
				gap: 20px;
				@media (min-width: $mobile) and (max-width: $pc) {
					flex: 0 0 100%;
				}
			}
			.slider__title {
				color: $akcent;
			}
			.button__wrapper {
				display: inline;
				width: fit-content;
				// height: 47px;
			}
			.button[class] {
				transform: translateY(-4px);
				font-size: 17px;
				@media (max-width: $tablet) {
					transform: translateY(0);
				}
			}
			.slider__button[class] {
				height: 37px;
				display: inline-flex;
				@media (max-width: $tablet) {
					height: 30px;
				}
				@media (max-width: $mobileSmall) {
					height: 26px;
				}
				// transform: translateY(-5px);
			}
			br {
				display: none;
				@media (max-width: $pc) {
					display: block;
				}
			}
			@media (min-width: toEm(1170)) {
				height: 399px;
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size: 40px;

		/* line-height: 48px; */
		line-height: 120%;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 40, 20, 0, 992, 768);
		}
		span {
			color: $akcent;
			white-space: nowrap;
		}
	}

	&__text {
		font-weight: 700;
		line-height: 1.33;
		font-size: 30px;
		@media (max-width: $mobile) {
			display: none;
			.swiper-slide-active & {
				display: block;
			}
		}

		@include adaptiveValue("font-size", 30, 20, 0, 1170, 768);
	}
	&__button {
		height: 58px;
		font-weight: 700;
		font-size: 30px;
		padding-inline: 28px;
		/* line-height: 40px; */
		line-height: 133%;
		@media (max-width: $mobileSmall) {
			padding-inline: 20px;
		}
	}

	&__list {
		@media (max-width: $mobile) {
			display: none;
			.swiper-slide-active & {
				display: block;
			}
		}
	}

	&__list-item {
		font-weight: 700;
		line-height: 156%;
		letter-spacing: 0.01em;
		padding-left: 22px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			background-color: $akcent;
			z-index: 3;
			top: 50%;
			top: 12px;
			transform: translateY(-50%);
			left: 8px;
		}
		span {
			color: $akcent;
		}
		&:not(:last-child) {
			margin-bottom: 7px;
		}
	}

	&__button.button {
		font-size: 30px;
		@media (max-width: $pc) {
			// font-size: 24px;
		}
		@media (max-width: $tablet) {
			font-size: 17px;
		}
	}
	&__pagination[class] {
		@media (min-width:toEm(1300)){
			  display: none;
		}
		@media (max-width: toEm(1300)){
			  display: flex;
		}
		@media (min-width: $mobile) {
			margin-top: 20px;
			.swiper-pagination-bullet {
				height: 5px;
			}
		}
	}
}
