.test3 {
}

.page {
	&__slider {
	}
}
.slider {
	&__container {
	}

	&__slider {
	}

	&__wrapper {
	}

	&__slide {
		width: 100%;
		position: relative;
		border: 1px solid $akcent2;
		display: flex;
		// display: grid;
		// grid-template-columns: auto 50%;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
		gap: 50px;
		cursor: pointer;
		// z-index: 1;
		@media (max-width: $pc) {
			//  gap: 0;
			justify-content: space-between;
			.slider__img {
				//  flex: 0 0 50%;
				img {
					width: 100%;
				}
			}
		}
		@media (max-width: $mobile) {
			// grid-template-columns: 1fr;
			align-items: initial;
			flex-direction: column;
			padding-top: 20px;
			padding-inline: 15px;
			gap: 20px;
		}
		&:before {
			content: "";
			border: 1px solid $akcent2;
			position: absolute;
			inset: 0px;
			filter: blur(5px);
		}

		&_1 {
			.slider__title {
				br {display: none;}
				@media (max-width: toEm(412)){
					  br {display: block;}
				}
			}
			.slider__button[class] {
			}
			br {
				@media (max-width: $mobile) {
					display: none;
				}
			}
			.slider__img {
				@media (max-width: $mobile) {
					aspect-ratio: 326/197;
					img {
						aspect-ratio: 326/197;
					}
				}
			}
		}
		&_2 {
			.button__wrapper {
				@media (min-width: $tablet) {
					width: 456px;
				}
				@media (min-width: $mobile) and (max-width: $tablet) {
					width: 300px;
				}
			}

			.button {
				// width: 456px;
				height: 98px;
				justify-content: initial;
				br {
					@media (max-width: $mobile) {
						display: none;
					}
				}
				@media (max-width: $tablet) {
					height: 60px;
				}
			}
			.slider__img {
				@media (max-width: $mobile) {
					aspect-ratio: 326/197;
					img {
						aspect-ratio: 326/197;
					}
				}
			}
		}
		&_3 {
			.slider__title {
				color: $akcent;
				@media (max-width: $mobile) {
					br {
						display: none;
					}
				}
			}
			.slider__img {
				@media (max-width: $mobile) {
					aspect-ratio: 326/197;
					img {
						aspect-ratio: 326/197;
					}
				}
			}
		}
		&_4 {
			.button__wrapper {
				
				@media (min-width: $tablet) {
					width: 500px;
				}
				@media (min-width: $mobile) and (max-width: $tablet) {
					width: 300px;
				}
			}
			.button[class] {
				// width: 500px;
				padding-inline: 20px;
				justify-content: initial;
				@media (max-width: $tablet) {
					font-size: 16px;
				}
			}
			.slider__img {
				@media (max-width: $mobile) {
					aspect-ratio: 326/238;
					img {
						aspect-ratio: 326/238;
					}
				}
			}
		}
		&_5 {
			.last-br {
				display: none;
			}
			.last-br2 {
				display: none;
				@media (max-width: $tablet) {
					// display: block;
				}
			}
			.button__wrapper {
				display: inline;
				@media (max-width: toEm(865)) {
					display: flex;
				}
			}
			.button[class] {
				border: initial;
				display: inline-flex;
				height: 40px;
				border: 1px solid $akcent;
				@media (max-width: $mobile) {
					margin-top: 7px;
				}
			}
			.cut {
				right: 0.8px;
				width: 21px;
			}
			.slider__img {
				@media (max-width: $mobile) {
					aspect-ratio: 326/179;
					img {
						aspect-ratio: 326/179;
					}
				}
			}
		}
		&_6 {
			flex-direction: row;

			.slider__title {
				color: $akcent;
				@media (max-width: $mobile) {
					flex: 1 0 100%;
				}
			}
			.slider__content {
				gap: 20px;
			}
			@media (max-width: $mobile) {
				flex-wrap: wrap;
				.slider__content {
					flex: 0 0 60%;
				}

				.slider__img {
					flex: 1 0 30%;
					width: 100%;
					img {
						position: relative;
						aspect-ratio: initial;
					}
					@media (max-width: $mobileSmall) {
						display: flex;
						img {
							// margin-top: auto;
						}
					}
				}
			}
			@media (max-width: $mobileSmall) {
				.slider__list-item[class] {
					font-size: 14px;
					line-height: 1.46;
					margin-bottom: 0;
					&:last-child {
						margin-bottom: 20px;
					}
				}
			}
		}
		&_7 {
			.slider__title {
				color: $akcent;
			}
			.slider__img {
				@media (max-width: $mobile) {
					aspect-ratio: 326/286;
					img {
						aspect-ratio: 326/286;
					}
				}
			}
		}
		&_8 {
			.slider__title {
				max-width: 600px;
			}
			.slider__img {
				@media (max-width: $mobile) {
					aspect-ratio: 326/197;
					img {
						aspect-ratio: 326/197;
					}
				}
			}
		}

		&_9 {
			.slider__img {
				@media (max-width: $mobile) {
					aspect-ratio: 326/197;
					img {
						aspect-ratio: 326/197;
					}
				}
			}
		}

		&_10 {
			grid-template-columns: 1fr;
			padding-block: 40px;
			.slider__content {
				gap: 20px;
				flex: 0 0 100%;
			}
			.slider__title {
				color: $akcent;
			}
			.button__wrapper {
				display: inline;
				width: fit-content;
				// height: 47px;
			}
			.button[class] {
				transform: translateY(-4px);
				font-size: 17px;
			}
			.slider__button[class] {
				height: 37px;
				display: inline-flex;
				// transform: translateY(-5px);
			}
			br {
				display: none;
				@media (max-width: $pc) {
					display: block;
				}
			}
			@media (min-width: toEm(1170)) {
				height: 399px;
			}
		}
	}

	&__content {
		position: relative;
		display: grid;
		gap: 30px;
		@media (min-width: $mobile) {
			margin-left: 50px;
		}
		@media (max-width: $pc) and (min-width: $mobile) {
			margin-left: 15px;
			flex: 0 0 50%;
			// flex: 0 0 60%;
		}

		@media (max-width: $mobileSmall) {
			gap: 15px;
		}
		// max-width: 500px;
	}

	&__title {
		font-weight: 700;
		font-size: 40px;

		/* line-height: 48px; */
		line-height: 120%;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 40, 20, 0, 992, 768);
		}
		span {
			color: $akcent;
			white-space: nowrap;
		}
	}

	&__text {
		font-weight: 700;
		line-height: 1.33;
		font-size: 30px;
		@include adaptiveValue("font-size", 30, 20, 0, 1170, 768);
	}
	&__button {
		height: 58px;
		font-weight: 700;
		font-size: 30px;
		padding-inline: 28px;
		/* line-height: 40px; */
		line-height: 133%;
		@media (max-width: $mobileSmall) {
			padding-inline: 20px;
		}
	}

	&__list {
	}

	&__list-item {
		font-weight: 700;
		line-height: 156%;
		letter-spacing: 0.01em;
		padding-left: 22px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			background-color: $akcent;
			z-index: 3;
			top: 50%;
			top: 12px;
			transform: translateY(-50%);
			left: 8px;
		}
		span {
			color: $akcent;
		}
		&:not(:last-child) {
			margin-bottom: 7px;
		}
	}

	&__img {
		// outline: 1px solid red;
		position: relative;
		@media (max-width: $mobile) {
			aspect-ratio: 2/1;
			// aspect-ratio: 326/218;
			margin-inline: -15px;
			img {
				position: absolute;
				inset: 0;
				// aspect-ratio: 2/1;
				aspect-ratio: 326/218;
				object-fit: cover;
			}
		}
		img {
			//  width:100%;
			height: auto;
		}
	}
	&__button.button {
		font-size: 30px;
		@media (max-width: $pc) {
			// font-size: 24px;
		}
		@media (max-width: $tablet) {
			font-size: 17px;
		}
	}
	&__pagination {
		@media (min-width: $mobile) {
			margin-top: 20px;
			display: flex;
			.swiper-pagination-bullet {
				height: 5px;
			}
		}
	}
}
