.page {

	&__vk {
	}
}
.vk {

	&__container {
		.button__wrapper {
			@media (max-width: toEm(600)){
				  margin-top: 20px;
			}
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 50px;
		@media (max-width:$mobile){
			 margin-bottom: 20px; 
		}
	}

	&__title[class] {
		margin-bottom: 0;
	}

	&__content {
	}

	&__slider[class] {
		@media (min-width:$tablet){
			 overflow: initial; 
		}
	}

	&__wrapper[class] {
		@media (min-width:$tablet){
			 display: grid;
			 justify-content: center;
			 grid-template-columns: repeat(3, 29%); 
			 row-gap: 40px;
			 column-gap: 50px;
		}
		@media (min-width:$mobile){
			}
	}

	&__slide {
		position: relative;
		z-index: 2;
		@media (min-width:$mobile){
			//   flex: 0 0 30.48%; /* 360/1170 */
		}
	}

	&__link {
	width: 100%;
	position: relative;
	z-index: 3;
	&::before,&::after{
		content:'';
		position: absolute;
		width: 60px;
		height: 60px;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
	}
	&::before{
		transition: filter 0.3s;
		border: 2px solid $akcent;
	}
	// @media (any-hover: hover){
		&:hover{
			&::before {
				filter: blur(10px);
			}
		}
	// }
	&::after{
		background: url('@img/videos/play.svg') 0 0 no-repeat;
	}
		img {
		 width:100%;
		 height:auto
		}
	}

	&__after {
		position: absolute;
			top: -20px;
			right: -20px;
			z-index: 2;
			@media (max-width:$tablet){
				display: none;
			}
			img {
			 width:100%;
			 height:auto;
				&.img-blur {
					position: absolute;
					inset: 0;
					filter: blur(10px);
					width: initial;
					height: initial;
				}
			}
			@media (max-width:$mobile){
				 display: none; 
			}
	}
	&__pagination {
		@media (max-width:$tablet){
			display: flex;
		}
	}

	&__button {
		width: 270px;
		height: 60px;
		text-transform: uppercase;
		@media (max-width:$mobile){
			 height: 45px; 
		}
		@media (max-width: toEm(600)){
			  width: 100%;
		}
		// left: 20px;
	}
}
.button {

	&_yellow {
	}

	&__wrapper {
		.vk & {
			// left: 20px;
		}
		&_yellow {
		}
	}
}
