.page {

	&__why {
		position: relative;
	}
}
.why {
	.list-top .list__item {
		padding-right: 30px;
		@media (max-width:$mobileSmall){
			 padding-right: 0; 
		}
		.list-item-content__text {
			padding-right: 40px;
		}
	}
	&__decor {
		position: absolute;
		z-index: -1;
		&_cepb {
			// top: 700px;
			bottom: -300px;
			@media (max-width: toEm(1215)){
				  display: none;
			}
		}

		&_handle {
			top: -50px;
			right: 0;
			@media (max-width: toEm(1280)){
				  display: none;
			}
		}
	
		&_lcepb {
			top: 365px;
		}

		&_rcepb {
			top: -290px;
			right: 0;
		}

		&_belipce {
			right: 0;
		}
	}

	&__container {
		.list {
			max-width: 770px;
		}
	}

	&__content {
		display: flex;
	}

	&__galery {
		@media (max-width:$tablet){
			margin-right: 10px;
			flex: 0 0 30%;
			img {
			 width:100%;
			 height:auto
			}
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}

	&__title[class] {
		@include adaptiveValue("margin-bottom", 50, 20,0,1170,768);
		@media (max-width:$mobile){
			  
			line-height: 1.2; 
		}
		@media (max-width:$mobileSmall){
			 letter-spacing: initial;
		}
	}
}

